html
    head
        link(rel="stylesheet", href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin="")
        style
          include ../public/stylesheets/index.css
        title NWEB Project1
    body
        div(class="main-div")
            h1 Aplikacija za prvi projekt - Patrik Vuić
            br
            if user.isAuthenticated
                h3 Dobrodošao #{user.name}
                h4 Potrebno je prvo kliknuti na "Moja lokacija" pa tek onda na "Ostali korisnici" ako želite spremiti vlastitu lokaciju
            if user.isAuthenticated
                a(href="/logout", class="log-out-button" ) Odjava
            else
                a(href="/sign-in", class="sign-in-button" ) Prijava
            br
            div(class="row-container")
                button(id="find-me", class="location-button") Moja lokacija
                a(href= "/private" class="location-button" id="private-map") Ostali korisnici
            br
            p(id="status")
            a(id="map-link")
            br
            div(id="map" style="width: 900px; height: 580px")


        script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="")
        script
            | let isAuthenticated = '#{user.isAuthenticated}'
            include ../public/javascripts/index.js
