html
    head
        link(rel="stylesheet", href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin="")
        style
            include ../public/stylesheets/index.css
        title NWEB Project1
    body
        div(class="main-div")
            h1 Aplikacija za prvi projekt - Patrik Vuić
            br
            if user.isAuthenticated
                h3 Dobrodošao #{user.name}
            if user.isAuthenticated
                a(href="/logout", class="log-out-button" ) Odjava
            else
                a(href="/sign-in", class="sign-in-button" ) Prijava
            br
            div(class="row-container")
                a(id="find-me", class="location-button", href="/") Moja lokacija
                a(href= "/private" class="location-button" id="private-map") Ostali korisnici
            br
            p(id="status")
            a(id="map-link")
            br
            div(id="map" style="width: 900px; height: 580px")


        script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="")
        script
            | var user = !{JSON.stringify(user)};
            | var users = !{JSON.stringify(users)};
            include ../public/javascripts/users.js
