body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.location-button {
  padding: 5px;
  border-radius: 5px;
  background-color: #00B7FF;
  font-size:20px;
  font-weight: bold;
  color: initial;
  -webkit-appearance: button;
  -moz-appearance: button;
  text-decoration: none;
}
.sign-in-button {
  padding: 5px;
  border-radius: 5px;
  background-color: green;
  font-size:20px;
  font-weight: bold;
  -webkit-appearance: button;
  -moz-appearance: button;
  text-decoration: none;
  color: white;
}
.log-out-button {
  padding: 5px;
  border-radius: 5px;
  background-color: red;
  font-size:20px;
  font-weight: bold;
  -webkit-appearance: button;
  -moz-appearance: button;
  text-decoration: none;
  color: white;
}
.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
